node_modules
npm-debug.log
dist
.vscode
# .git removed so pre-commit can see git repo in container
.gitignore
Dockerfile
Dockerfile.*
*.md
*.log
coverage
.env*
*.test.*
*.spec.*
*.tsbuildinfo
*.swp
*.swo
*.DS_Store
.idea
*.iml
*.yarn*
*.cache
*.next
*.vercel
*.netlify
!vite.config.js
!develop.js
