node_modules
npm-debug.log
dist
.vscode
.git
.gitignore
Dockerfile
Dockerfile.*
*.md
*.log
coverage
.env*
*.test.*
*.spec.*
*.tsbuildinfo
*.swp
*.swo
*.DS_Store
.idea
*.iml
*.yarn*
*.cache
*.next
*.vercel
*.netlify
